{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html>
<head>

<title>My Way - Editar</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
	body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
	body, html {
	    height: 100%;
	    line-height: 1.8;
	}

	/* Full height image header */
	.bgimg-1 {
	    background-position: center;
	    background-size: cover;
	    background-image: url("/w3images/mac.jpg");
	    min-height: 100%;
	}
	.w3-bar .w3-button {
	    padding: 16px;
	}
</style>

<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card-2" id="myNavbar">
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#MinhasDisciplinas" class="w3-bar-item w3-button">MINHAS DISCIPLINAS</a>
      <a href="#meuFluxograma" class="w3-bar-item w3-button"><i class=""></i> MEU FLUXOGRAMA</a>
      <a href="/myway/forumDoCurso" class="w3-bar-item w3-button"></i> FÓRUM DO CURSO</a>
      <a href="/myway/perfil" class="w3-bar-item w3-button"><i class=""></i>PERFIL</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<div class="container">
  	<div class="form-horizontal">
  		
		
		<form class="form-horizontal" action="{% url 'editarUser' %}" method="post" role="form">
  		<div class="field-title"><br><br><br><br>
			{% csrf_token %}

			<label for="userName">Novo nome de usuário:  </label>
    		<input class="form-control ls-login-bg-login input-lg" id="userName" type="name" aria-label="Senha" placeholder="Username" {{ form.username }}
    		
    		<br>

    

		    <label for="userPassword">Nova senha:  </label>
		  	<input class="form-control ls-login-bg-password input-lg" id="userPassword" type="password" aria-label="Senha" placeholder="Senha" {{ form.password }}
		  	</div>

		    <br><br>
		    
		    <button  type="submit" class="btn btn-primary">Atualizar cadastro</button>
  
          
  		</form>
  		</div>
    </div>
{% endblock %}
</body>
</html>