<!DOCTYPE html>

{% load staticfiles %}
<html lang="pt">

<head>


<link rel="stylesheet" href="{% static "css/styles.css" %}">
<script src = "{% static "js/jquery.js" %}">></script>



<meta charset="utf-8" />
<title>Fluxograma do curso</title>
</head>

<body class= "corpo">


<div class="div"> 
	<div class="profissional" id = "ip">Introdução a programação</div>
	<div class="profissional" id = "sociologia"> Introdução a sociologia</div> 
	<div class="profissional" id= "ic"> Introdução ao computador</div> 
	<div class="complementar" id= "metodologia"> Metodologia Científica</div> 
	<div class="profissional" id= "adm1"> Administração I</div> 
	<div class="profissional" id= "elementar">Matemática Elementar</div>
</div>


<div class="div"> 


	<div class="profissional" id = "lp"> Linguagem de programação</div>	
	<div class="profissional" id = "filosofia">Introdução a filosofia</div> 
	<div class="profissional" id= "calculo" > Cálculo diferencial e integral</div> 
	<div class="profissional" id = "arquitetura" > Arquitetura de computadores</div> 
	<div class="profissional" id= "adm2" > Administração II</div> 
	<div class="profissional" id = "logica"> Lógica aplicada a computação</div> 


</div>

<div class="div"> 

	<div class="profissional" id = "estrutura1"> Estrutura de dados I</div>	
	<div class="profissional" id = "poo"> Programação Orientada a objetos</div> 
	<div class="profissional" id= "estatistica"> Probabilidade e estatística</div> 
	<div class="profissional" id = "linear"> Álgebra Linear</div> 
	<div class="optativa"> Optativa</div> 
</div>

<div class="div"> 

	<div class="profissional" id = "estrutura2">Estrutura de dados II</div>	
	<div class="profissional" id= "engenharia">Engenharia de Software</div> 
	<div class="profissional" id= "plp">Paradigmas de linguagem de programação</div> 
	<div class="profissional">Empreende-dorismo</div> 
	<div class="profissional">Introdução a psicologia</div> 
	<div class="optativa"> Optativa</div> 
	

</div>

<div class="div"> 
	<div class="profissional" id= "banco1" > Banco de dados I</div>	
	<div class="complementar" id= "esa" > Engenharia de software aplicada</div> 
	<div class= "complementar"> Ética profissional </div>
	<div class= "profissional" id= "so"> Sistemas Operacionais</div> 
	<div class="complementar" id= "pesquisaAplicada"> Pesquisa aplicada</div> 
	<div class="profissional" id= "redes"> Redes de computadores </div>
</div>

<div class="div"> 
	<div class="profissional" id= "banco2">Banco de dados II</div>	
	<div class="profissional" id="gerenciaDeProjeto"> Gerencia de projeto de Software</div> 
	<div class="complementar" id= "ihm">Interface com o usuário</div> 
	<div class="profissional" id= "pas"> Projeto avançado de software</div> 
	<div class="profissional" id="ads"> Avaliação de desempenho de sistemas</div> 
	<div class="profissional" id = "gerenciaDeRedes" >Gerência de redes de computadores</div> 
	<div class="profissional" id="gi"> Gestão da informação de Sistemas de Informação</div> 
	
</div>

<div class="div">
	<div class="complementar" id= "corporativos"> Desenvolvimento de sistemas corporativos</div>	
	<div class="complementar" id= "gqs"> Gestão da qualidade de software</div>	
	<div class="optativa"> Optativa</div> 
	<div class="complementar" id= "sd"> Sistemas distribuídos</div> 
	<div class="complementar" id= "auditoria">Auditoria e segurança de sistemas</div> 
	<div class="complementar" id= "sag"> Sistemas de apoio a gestão</div> 
	<div class="complementar" id= "ia">Inteligência artificial e sistemas especialistas</div> 
	
	
</div>
<div class="div"> 
	<div class="profissional" id= "tcc">TCC</div> 
	<div class="estagio" id= "estagio"> Estágio supervisionado</div> 
</div>



</body>


</html>
