{% extends 'base.html' %}


{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


      <div class="container">
      	<div class="form-horizontal">
      		
			
			<form class="form-horizontal" action="{% url 'cadastro' %}" method="post" role="form">
      		<div class="field-title"><br><br><br><br>
					{% csrf_token %}
					<label for="aluno_nome" id="aluno_nome">Nome: 
					{{ form.username }} </label>
					<br><br>

					<label for="aluno_senha" id="aluno_senha">Senha: 
					{{ form.password }} </label>
					<br><br>

				<div class="col-sm-offset-2 col-sm-10">
        			<button type="submit" class="btn btn-default">cadastrar aluno</button>
      </div>
				
			</form>
			<!--
              <div>
                <label class="radio-inline">
                      <input type="radio" name="sexo" id="feminino" value="FEMININO"> Feminino
                        </label>

                        <label class="radio-inline">
                          <input type="radio" name="sexo" id="masculino" value="MASCULINO"> Masculino
                        </label>
              </div>
			
      				<div>
      					<label for="userPassword">Senha</label>
      					<input class="form-control ls-login-bg-password input-lg" id="userPassword" type="password" aria-label="Senha" placeholder="Senha">
      				</div>
              <div>
                <label>Data de nascimento</label>
                   <input class="form-control ls-login-bg-user input-lg" id=" dataDeNascimento" type="text" aria-label="Data de nascimento: " placeholder="dd/mm/aaa" >         
              </div>
              
      		</form>
      		-->
      	</div>
      </div>
  {% endblock %}

</html>
