<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}


<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>My Way</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src = "{% static "js/jquery.js" %}">></script>
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
  
  </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
     
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#myPage">HOME</a></li>
        <li><a href="#schedules">FLUXOGRAMA</a></li>
        <li><a href="#about">SOBRE</a></li>
        <li><a href="#team">EQUIPE</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="logotipo"> 
  	<img src="{% static 'images/logo.png' %}">
  </div>
</div>



<!-- Container (schedules Section) -->
<div id="schedules" class="container-fluid text-center bg-grey">
   <div class="div"> 
  	<div class="profissional" id = "ip">Introdução a Programação</div>
  	<div class="profissional" id = "sociologia"> Introdução a Sociologia</div> 
  	<div class="profissional" id= "ic"> Introdução ao Computador</div> 
  	<div class="complementar" id= "metodologia"> Metodologia Científica</div> 
  	<div class="profissional" id= "adm1"> Administração I</div> 
  	<div class="profissional" id= "elementar">Matemática Elementar</div>
  </div>


  <div class="div"> 


  	<div class="profissional" id = "lp"> Linguagem de Programação</div>	
  	<div class="profissional" id = "filosofia">Introdução a Filosofia</div> 
  	<div class="profissional" id= "calculo" > Cálculo Diferencial e Integral</div> 
  	<div class="profissional" id = "arquitetura" > Arquitetura de Computadores</div> 
  	<div class="profissional" id= "adm2" > Administração II</div> 
  	<div class="profissional" id = "logica"> Lógica aplicada a Computação</div> 


  </div>

  <div class="div"> 

  	<div class="profissional" id = "estrutura1"> Estrutura de Dados I</div>	
  	<div class="profissional" id = "poo"> Programação Orientada a Objetos</div> 
  	<div class="profissional" id= "estatistica"> Probabilidade e Estatística</div> 
  	<div class="profissional" id = "linear"> Álgebra Linear</div> 
  	<div class="optativa"> Optativa</div> 
  </div>

  <div class="div"> 

  	<div class="profissional" id = "estrutura2">Estrutura de Dados II</div>	
  	<div class="profissional" id= "engenharia">Engenharia de Software</div> 
  	<div class="profissional" id= "plp">Paradigmas de Linguagem de Programação</div> 
  	<div class="profissional" id = "empreendedorismo">Empreende-dorismo</div> 
  	<div class="profissional" id = "psicologia">Introdução a psicologia</div> 
  	<div class="optativa"> Optativa</div> 
  	

  </div>

  <div class="div"> 
  	<div class="profissional" id= "banco1" > Banco de Dados I</div>	
  	<div class="complementar" id= "esa" > Engenharia de Software Aplicada</div> 
  	<div class= "complementar" id = "etica"> Ética Profissional </div>
  	<div class= "profissional" id= "so"> Sistemas Operacionais</div> 
  	<div class="complementar" id= "pesquisaAplicada"> Pesquisa Aplicada</div> 
  	<div class="profissional" id= "redes"> Redes de Computadores </div>
  </div>

  <div class="div"> 
  	<div class="profissional" id= "banco2">Banco de dados II</div>	
  	<div class="profissional" id="gerenciaDeProjeto"> Gerência de Projeto de Software</div> 
  	<div class="complementar" id= "ihm">Interface com o Usuário</div> 
  	<div class="profissional" id= "pas"> Projeto Avançado de Software</div> 
  	<div class="profissional" id="ads"> Avaliação de desempenho de Sistemas</div> 
  	<div class="profissional" id = "gerenciaDeRedes" >Gerência de redes de Computadores</div> 
  	<div class="profissional" id="gi"> Gestão da Informação de Sistemas de Informação</div> 
  	
  </div>

  <div class="div">
  	<div class="complementar" id= "corporativos"> Desenvolvimento de Sistemas Corporativos</div>	
  	<div class="complementar" id= "gqs"> Gestão da Qualidade de Software</div>	
  	<div class="optativa"> Optativa</div> 
  	<div class="complementar" id= "sd"> Sistemas Distribuídos</div> 
  	<div class="complementar" id= "auditoria">Auditoria e Segurança de Sistemas</div> 
  	<div class="complementar" id= "sag"> Sistemas de Apoio a Gestão</div> 
  	<div class="complementar" id= "ia">Inteligência Artificial e Sistemas Especialistas</div> 
  	
  	
  </div>
  <div class="div"> 
  	<div class="profissional" id= "tcc">TCC</div> 
  	<div class="estagio" id= "estagio"> Estágio Supervisionado</div> 
  </div>

  



</div>


<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>Sobre o curso</h2><br>
      <h4>O curso de Bacharelado em Sistemas de Informação tem por objetivo a formação de profissionais para atuar em planejamento, análise, utilização e avaliação de modernas tecnologias de informação aplicadas às áreas administrativas e industriais, em organizações públicas e privadas, desempenhando funções como:</h4><br>
      <p><li>Administrador de banco de dados;</li>
			<li>Analista de sistemas;</li>
			<li>Analista de suporte;</li>
			<li>Consultor/auditor em desenvolvimento de sistemas de informação;</li>
			<li>Consultor/auditor na área de infra-estrutura;</li>
			<li>Gerente de desenvolvimento de sistemas de informação;</li>
			<li>Gerente de projetos de sistemas de informação;</li>
			<li>Gerente de redes de computadores;</li>
			<li>Gerente de sistemas de informação;</li>
			<li>Gerente de tecnologia da informação;</li>
			<li>Programador de sistemas;</li>
			<li>Projetista de sistemas de automação comercial..</li></p>
      <br><a href= "https://si.dcx.ufpb.br/curso/" class="btn btn-default btn-lg" >Saiba mais</a>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div id= "team" class="container-fluid bg-grey">
  <div class="row">
    <div  class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2>Equipe</h2><br>
      <h4><strong>Desenvoldores:</strong> 
      Lucas Kalebe Silva Furtado, Stewen Soares Ascari, Alberis Ricardo Tavares Filho, Kevin Nascimento de Freitas
      <h4><strong>Professor orientador:</strong> 
      Yuri Malheiros
    </div>

  </div>
</div>
</div>







</body>
</html>
